<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <form class="d-flex" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-light">
              <i class="fa fa-sign-out"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <main id="main" class="site-main main">
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="container container--mini">
              <h1 class="h3 mt-3 mb-3 fw-normal text-center">
                Khoj The Search
              </h1>
              <form
                name="loginform"
                id="loginform"
                th:action="@{/}"
                th:object="${search}"
                method="post"
              >
                <div class="form-group mb-3">
                  <label for="user_login">Input values</label>
                  <input
                    type="text"
                    th:field="*{input}"
                    id="inputValue"
                    class="form-control"
                    value=""
                    size="20"
                    placeholder="1, 3, 2, 4, 0"
                    pattern="[0-9]+(,\s[0-9]+)*"
                    title="Comma Separated Numbers with a space"
                    required
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="user_pass">Search value</label>
                  <input
                    type="number"
                    th:field="*{search}"
                    id="searchValue"
                    class="form-control"
                    value=""
                    size="20"
                    placeholder="3"
                    required
                    style="
                      -webkit-appearance: none !important;
                      margin: 0 !important;
                      -moz-appearance: textfield !important;
                    "
                  />
                </div>

                <div class="form-group mb-3">
                  <button type="submit" class="btn btn-success">Khoj</button>
                </div>
              </form>
              <h1 class="h3 mt-3 mb-3 fw-normal">
                Result: <span th:text="${search.result}"></span>
              </h1>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
